<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<a href="{% url 'hello'%}"><i> hello</i> </a>&emsp
<a href="{% url 'liveops'%}"><i> live  Operations </i></a>&emsp
<a href="{% url 'posts_table'%}"> <i> All Posts </i> </a>&emsp
<a href="{% url 'boards_table'%}">   <i> All Boards </i>&emsp
<a href="{% url 'topics_table'%}"><i> ALl Topics </i></a>&emsp
<a href="{% url 'fetchdata_form'%}"><i> Your Credentials </i></a>&emsp
<a href="{% url 'login_form'%}"><i> Login</i></a>&emsp
<a href="{% url 'SignupForm_Example'%}"> <i> Sign Up</i></a>&emsp
<a href="{% url 'logout'%}"> <i> log Out</i></a>&emsp
<a href="{% url 'loginform'%}"> <i> Log in </i></a>&emsp

<form method='POST'>

{% csrf_token %}



{{sign.as_p}}



 <button type ="submit">submit</button> 

</form>





</body>
</html>