<a href="{% url 'liveops'%}"><i> live  Operations </i></a><br><br>
<a href="{% url 'posts_table'%}"> <i> All Posts </i> </a><br><br>
<a href="{% url 'boards_table'%}">   <i> All Boards </i> </a><br><br>
<a href="{% url 'topics_table'%}"><i> ALl Topics </i></a><br><br>
<a href="{% url 'fetchdata_form'%}"><i> Your Credentials </i></a><br><br>
<a href="{% url 'login_form'%}"><i> Login</i></a><br><br>
<a href="{% url 'SignupForm_Example'%}"> <i> Sign Up</i></a><br><br>
<a href="{% url 'logout'%}"> <i> log Out</i></a><br><br>
<a href="{% url 'loginform'%}"> <i> Log in </i></a><br><br>
{{ board.name}}<br>
<!--{% for topic in topics %}
{{topic.subject }}
{% endfor %}-->
{{ board.pk }}
{% for topic in topics %}
{{topic }}<br>
{% endfor %}

<p><a href="{% url 'create_topic' board.pk %}"> create a Topic</a></p>

<!--{{ topics }}-->